.form__button {
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 2px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21.78px;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}

.form__button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.form__button:not(:hover) {
  transition: all 0.3s ease;
}

@media screen and (max-width: 767px) {

  .form__button {
    height: 47px;
    font-size: 14px;
    line-height: 16.94px;
  }

}
