.profile {
  display: grid;
  grid-template-columns: 120px 1fr 50px;
  align-items: center;
  padding-top: 40px;
}

@media screen and (max-width: 767px) {

  .profile {
    grid-template-columns: none;
    justify-items: center;
    padding-top: 43px;
  }

}
